@import "tailwindcss";

@layer base {
  html,
  body {
    @apply !bg-cyan-100 !text-stone-950;
  }

  *:not(svg):not(path):not(img):not(video):not(canvas) {
    @apply !bg-cyan-100 !text-stone-950;
    border-color: currentColor !important;
  }

  ::placeholder {
    @apply !text-stone-950;
    opacity: 1;
  }
}

.card {
  background-color: transparent;
  border: 1px solid currentColor;
}
